<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>番号</th>
                <th>名前</th>
                <th class="lastselect">
                    <select (change)="onOptionsSelected($event.target.value)">
                        <option *ngFor="let month of monthdata">{{month}}</option>
                    </select>
                    <p>出席情報</p>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of viewlist">
                <td>{{ student.id }}</td>
                <td>{{ student.first_name }} {{ student.last_name }}</td>
                <td>欠{{ student.absent }} 遅{{ student.late }} 早{{ student.early }} 出席{{student.attend}}</td>
            </tr>
        </tbody>
    </table>
</div>