<div class="container">
    <div class="gradeselect">
        <select (change)="onOptionsSelected($event.target.value)">
            <option [value]="0" >全学年</option>
            <option *ngFor="let grade of gradeList" [value]="grade">{{grade}} 年</option>
        </select>
    </div>
    <div class="main">
        <ul class="list">
            <li *ngFor="let class of viewclassList">
                <div class="classitem classname">{{class.classname}}</div>
                <div class="classitem btn">
                    <button><a [routerLink]="['attend']" [queryParams]="{ classnum: class.classnum }">出欠</a></button>
                </div>
                <div class="classitem btn">
                    <button><a [routerLink]="['manage']" [queryParams]="{ classnum: class.classnum }">管理画面</a></button>
                </div>
            </li>
        </ul>
    </div>
</div>