<div class="container">
    <div class="gradeselect">
        <select (change)="onOptionsSelected($event.target.value)">
            <option [value]="0" >全学年</option>
            <option *ngFor="let grade of gradeList" [value]="grade">{{grade}} 年</option>
        </select>
    </div>
    <div class="main">
        <ul class="list">
            <li *ngFor="let class of viewclassList">
                <a [routerLink]="['attend']" [queryParams]="{ classnum: class.classnum }">{{class.classname}}</a>
            </li>
        </ul>
    </div>
</div>