.gradeselect {
    padding-top: 10px;
    height: 20px;
}
select {
    float: right;
    height: 30px;
}

.list {
    list-style-type: none;
    margin-top: 30px;
    padding: 0;
}
.list li {
    width: 100%;
    background-color: white;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.list a {
    color: black;
    text-decoration: none;
    
    // リンクのクリック範囲を親要素合わせる

}

.btn {
    cursor: pointer;
    display: block;
    width: 25%;
}
.btn:hover {
    color: #607D8B;
}

.classitem {
    text-align: center;
    display: inline-block;
}
.classname {
    width: 50%;
}
