<div class="container">
    <div class="main">
        <div class="main-in">
        <div class="title">
            <h1>CSV出力</h1>
        </div>
        <div class="article">
            <p>この文章はダミーです。文字の大きさ、量、空間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、空間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、空間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、空間、行間等を確認するために入れています。</p>
        </div>
        <div class="form-group">
            <div class="container form-in">
                <div class="col-md-4">
                    <label>日付</label>
                    <select>
                        <option>2020年4月1日</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label>学年</label>
                    <select>
                        <option>1年</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label>クラス</label>
                    <select>
                        <option>1組</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label>時限</label>
                    <select>
                        <option>1時限目</option>
                    </select>
                </div>
            </div>
            <div class="btn-div">
                <button class="btn btn-primary">CSV出力</button>
            </div>
        </div>
        </div>
    </div>
</div>